.nav-link {
    margin: 8px 20px;
    color: #C4995A;
    font-family: 'Saira', sans-serif;
  }
  
  .navbar-brand {
    font-family: 'Saira', sans-serif;
  }
  
  .collasible-nav-dropdown {
    color: #C4995A;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #C4995A;
}