@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Saira&display=swap');

html {
  background-color: black;
}

.body {
  background-color: black;
  font-family: 'Convergence', sans-serif;
}

/* .nav-link {
  margin: 8px 20px;
  color: #C4995A;
  font-family: 'Saira', sans-serif;
}

.navbar-brand {
  font-family: 'Saira', sans-serif;
}

.collasible-nav-dropdown {
  color: #C4995A;
} */

.banner {
  background-image: url("components/images/Koi.jpeg");
  background-size: cover;
  padding: 90px 0px;
  /* background-position-y: -50px; */
}
.filter {
  /* background-color: rgba(0, 0, 0, .4); */
  background-color: #000000;
  color: black;
  opacity: 0.4;
  z-index :999;
}
.forward {
  z-index: 1000;
}

.contentBody {
  background-color: #092023;
  color: #ffffff;
}

.contentBg {
  background-color: #C4995A;
}

.rounded-circle {
  height: 250px;
  width: auto;
  border: 2px solid #C4995A;
  background-color: #000000;
  /* float: right;
  margin: -100px 0 10px 20px;
  z-index :999;
  position: relative; */
}
.profile {
  height: 250px;
  width: auto;
  border: 2px solid #C4995A;
  background-color: #000000;
  float: right;
  margin: -100px 0 10px 20px;
  z-index :999;
  position: relative;
  border-radius: 50%;
}

.speech {
  padding-top: 20px;
}
.content {
  margin: 0px 20px;
}

.center {
  margin: 0px auto;
  display: block;
}

.footer {
  background-color: #000000;
  padding: 30px;
  text-align: center;
}

.titleBg {
  background-color: #000000;
}

.paddingSpace {
  padding: 20px 0px;
}

.bgBox {
  background-color: #204C67;
  margin: 0px 40px;
  border-radius: 15px;
}
.bgBoxcolor {
  background-color: #204C67;
  border-radius: 15px;
}
.card-body {
  background-color: #204C67;
}
.btn-primary {
  background-color: #C4995A;
}
.bgBoxPro {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #204C67;
  margin: 0px 40px;
  padding: 20px 0px;
}
.bgBoxPro1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #204C67;
  margin: 0px 40px;
  padding: 20px 0px;
}
.bannerBg {
  background-color: rgba(0, 0, 0, .7);
  padding-top: 10px;
}
.cycleText {
  z-index: 10000;
  position: relative;
}
.reference {
  color: #ffffff;
}
.reference:hover {
  color: #C4995A;
}
.bodyText {
  margin: 40px 0px 40px 40px;
}
.buttonCustom {
  background-color: #C4995A;
}
.tab { text-indent:40px }